* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}

.hidden {
    display: none;
}

#container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    background-color: #f5f7fb;
}

#container p {
    font-size: 1.6rem;
    color: red;
}

.counter {
    width: 90%;
    max-width: 42rem;
    background-color: white;
    padding: 2rem 1rem;
    border-radius: 1.6rem;
    text-align: center;
}

.counter h1 {
    font-size: 4rem;
}

.counter h2 {
    font-size: 3rem;
}

.counter .btns {
    display: flex;
    gap: 1.5rem;
}

.btns button {
    flex-grow: 1;
    padding: .7rem 0;
    border-radius: 0.6rem;
    border: none;
    font-size: 1.6rem;
    background-color: #2563eb;
    color: white;
    letter-spacing: 0.1rem;
}

.counter > *:not(:last-child) {
    margin-bottom: 2rem;
}

